<?xml version="1.0" encoding="utf-8"?>
<body>
  <params>
    <GraphSettings PlotTime="59" PlotLowLimit="10" PlotHighLimit="15" WriteIfNoMeasState="False" />
    <TrendVisible VisLine1="False" VisLine2="False" VisLine3="False" VisLine4="False" VisLine5="False" VisLine6="True" VisLine7="True" VisLine8="True" VisLine9="True" VisLine10="False" />
    <TcpConnectData IP="192.168.1.178" PortNum="49050" Pause="10" CycicRequest="True" />
    <AdcAvgSettings SpectrFilterDeep="11" SpectrMinLimit="2800" SpectrMaxLimit="3600" LeftCounterCoeff="0.04" RightCounterCoeff="0.08" />
    <SpectrLogSettings LogFreq="60" CyclicLog="True" FreqClearSpectr="1200" />
    <CheckSum Value="2330644036" />
  </params>
</body>